# Build Outputs
**/bin/
!rust/spt-native/src/bin/
**/obj/
rust/target/

# VCS/IDE/CI metadata
.git/
.github/
.idea/
.vs/
.vscode/

# Do it live!
Testing/

# Runtime state
**/user/
**/logs/

# Docker & Docs
Dockerfile
Containerfile.*
.dockerignore
compose.yaml
docker-compose.yml
**/*.md
graphify-out/
